
<form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
    <h1>Nueva Tarea</h1>
  
    <div class="form-group">
        <label>Nombre de la Tarea:      </label>
        <div class="col-xl-25">
            <input type="text" formControlName="nameTask" class="form-control" placeholder="Ingrese nombre de la Tarea" required>
        </div>
    </div>

    <div class="form-group">
        <label> Descripcion:      </label>
        <div class="col-xl-25">
            <textarea formControlName="description" class="form-control" placeholder="Ingrese descipcion de la Tarea" rows="3" required></textarea>
          </div>
    </div>

    <div class="form-group">
        <button type="submit" [disabled]="!projectForm.valid" class="btn btn-primary">Guardar</button>
    </div>
         
    </form>


